.footer-container {
    /* margin-bottom: 0;
    margin-top: 40px;
    margin-left: 0; */
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #c2c2c2;
    /* background-color: rgb(239, 239, 239); */
    
    
  }

  .footer-container img {
    width: 30px;
    padding-right: 20px;

  }
  
  .footer-container .inner-content {
    display: flex;
    width: 100%;
    margin: 4px auto;
  }

  .account-link {
    position: absolute;
    left: 60px;
  }

  .copyright {
    position: absolute;
    right: 40px;
  }
