/***********************************************
NavBar Css
************************************************/
.pHeader {
    position: fixed;
    top: 0;
  }
  
  .pHeader {
    width: 100%;
    display: flex;
    z-index: 995;
    max-height: 12rem;
    align-items: center;
    /* background: #ffffff85; */
    background-color: #e2dfdf;
    justify-content: space-between;
    font-size: 1rem;
  }
  
  .logoImg {
    width: 5em;
    margin: 13px 0px 0px 49px;
  } 
  
  .nav-bar {
    background-color: #eeede9;
    border-radius: 10em;
    margin-right: 48px;
    padding: 10px;
  }
  
  .menuItems {
      min-width: 0;
      max-width: 100%;
      text-align: right;
      position: absolute;
      right: 50px;
      top: 34px;
  }
  
  .navItem {

    position: relative;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize !important;
    color: #000060;
    font-weight: 600;   
    letter-spacing: .1em;
    font-size: .85rem;
    transition: color 0.3s ease;
    
  }
  .navItem:hover {
    color: #0013db;
  }

  .navItem::after {
    content: '';
    position: absolute;
    left: 8px;
    bottom: 10px;
    width: 0;
    height: 2px;
    background-color: #000060; 
    transition: width 0.3s ease;
  }

  .active::after {
    width: 87%;
  }
  
  .hireMeBtn {
    color: #000060;
    background-color: #65FF94;
    border: 1px solid #65FF94;
    padding: 9px;
    border-radius: 6px;
    font-size: .85rem;
    font-weight: 500;
    box-shadow: 2px 2px 3px #0000001c;
    cursor: pointer;
  }

  .hireMeBtn:hover {
    color: #0013db;
  }
  .mobile-menu {
    display: none;
  }
  