/* For screens up to 768px */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .logoImg {
    width: 3.5em !important;
    margin: 20px 0px 0px 13px !important;
    z-index: 999 !important;
    position: relative;
  }

  .menu-toggle {
    z-index: 999;
    width: 2.78em;
    height: 2.09em;
    background: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    margin-top: 0.699em;
    color: #000060;
    border: none;
    cursor: pointer;
}
.menu-toggle:before, .menu-toggle:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: currentColor;
}
.menu-toggle:before {
  top: 5px;
}
.menu-toggle:after {
  right:-10px;
  width: 72%;
  top: 1.13em;
}

.menu-toggle.x {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.menu-toggle.x:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-toggle.x:after {
  top: 5px;
  right: unset;
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

  .mobile-menu {
    display: block !important; 
    margin: 1.5rem;
    
  }
  /* .ham-menu {
    width: 78px;
    cursor: pointer;
    margin-right: 19px;
  } */
  .nav-bar {
    display: none;
  }
  .mobile-visible {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    font-size: 2.2rem;
    /* -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s; */
    justify-content: space-around;
    border-radius: 0 !important;
    flex-direction: column;
    z-index: 998;
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
    padding: 150px 200px 150px 74px !important;

  }
  
  .pHeader {
    max-height: 4rem !important;
    
  }
  .myDescription {
    width: 100% !important;
    font-size: 1rem !important;
  }

  .home-flex-container .inner-content {
    flex-direction: column;
  }

  .home-flex-container {
    width: auto;
  }

  .heroText h1 {
    font-size: 3.5rem !important;
  }
  .heroText h3 {
    font-size: 1.1rem !important;
  }
  .heroImg img {
    width: 19.6rem !important;
  }
  /* .home-skill {
    font-size: 1.6rem !important;
  } */
  

  .row {
    width: 90% !important;
    padding: 0rem 1rem 1rem 1rem !important;
  }

  .col {
    width: 100% !important;
  }

  .grid-item {
    flex: 1 0 45% !important;
  }

  .org-role h2 {
    font-size: 14px !important;
  }
  
  .duration h2 {
    font-size: 14px !important;
  }
  
  .experience-flex-container .flex-item {
    padding: 1rem !important;
  }

  .experience-flex-container .inner-content {
    margin: -1rem 1rem !important;
  }

  .experience-flex-container .inner-flex-item {
    padding: 0.7rem !important;
  }

  .project-flex-container .grid-container {
    width: 90% !important;
  }
  .project-flex-container {
    min-height: 55vh !important;
  }
  
  
   .list-disc {
    font-size: 14px !important;
   }

   .education-flex-container {
    min-height: 100vh !important;
    padding-bottom: 20px;
   }
   .map-address-card {
    flex-wrap: wrap;
    
   }
   .map-email {
    margin-top: 1rem !important;
   }
   .contact-flex-container .flex-container {
    flex-wrap: wrap;
   }
   .flex-child1, .flex-child2 {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .logoImg {
    width: 3.5em !important;
    margin: 20px 0px 0px 13px !important;
    z-index: 999 !important;
    position: relative;
  }

  .menu-toggle {
    z-index: 999;
    width: 2.78em;
    height: 2.09em;
    background: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    margin-top: 0.699em;
    color: #000060;
    border: none;
    cursor: pointer;
}
.menu-toggle:before, .menu-toggle:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: currentColor;
}
.menu-toggle:before {
  top: 5px;
}
.menu-toggle:after {
  right: -10px;
  width: 72%;
  top: 1.13em;
}

.menu-toggle.x {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.menu-toggle.x:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-toggle.x:after {
  top: 5px;
  right: unset;
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

  .mobile-menu {
    display: block !important; 
    margin: 1.5rem;
    
  }
  /* .ham-menu {
    width: 78px;
    cursor: pointer;
    margin-right: 19px;
  } */
  .nav-bar {
    display: none;
  }
  .mobile-visible {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    font-size: 2.2rem;
    /* -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s; */
    justify-content: space-around;
    border-radius: 0 !important;
    flex-direction: column;
    z-index: 998;
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
    padding: 150px 200px 150px 74px !important;

  }
  
  .pHeader {
    max-height: 4rem !important;
    
  }
  .myDescription {
    width: 100% !important;
    font-size: 1rem !important;
  }

  .home-flex-container .inner-content {
    flex-direction: column;
  }

  .home-flex-container {
    width: auto;
  }

  .heroText h1 {
    font-size: 3.5rem !important;
  }
  .heroText h3 {
    font-size: 1.1rem !important;
  }
  .heroImg img {
    width: 19.6rem !important;
  }
  /* .home-skill {
    font-size: 1.6rem !important;
  } */

  .row {
    width: 90% !important;
    padding: 0rem 1rem 1rem 1rem !important;
  }

  .col {
    width: 100% !important;
  }

  .grid-item {
    flex: 1 0 45% !important;
  }

  .org-role h2 {
    font-size: 16px !important;
  }
  
  .duration h2 {
    font-size: 16px !important;
  }
  
  .experience-flex-container .flex-item {
    padding: 1rem !important;
  }

  .experience-flex-container .inner-content {
    margin: -1rem 1rem !important;
  }

  .experience-flex-container .inner-flex-item {
    padding: 0.7rem !important;
  }

  .project-flex-container .grid-container {
    width: 90% !important;
  }
  .project-flex-container {
    min-height: 55vh !important;
  }
  

   .list-disc {
    font-size: 10px !important;
   }
   .education-flex-container {
    min-height: 100vh !important;
    padding-bottom: 20px;
   }
   .map-address-card {
    flex-wrap: wrap;
    
   }
   .map-email {
    margin-top: 1rem !important;
   }
   .contact-flex-container .flex-container {
    flex-wrap: wrap;
   }
   .flex-child1, .flex-child2 {
    width: 100% !important;
  }
}
/* For screens between 768px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .logoImg {
    width: 3.5em !important;
    margin: 20px 0px 0px 13px !important;
    z-index: 999 !important;
    position: relative;
  }

  .menu-toggle {
    z-index: 999;
    width: 2.78em;
    height: 2.09em;
    background: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    margin-top: 0.699em;
    color: #000060;
    border: none;
    cursor: pointer;
}
.menu-toggle:before, .menu-toggle:after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: currentColor;
}
.menu-toggle:before {
  top: 5px;
}
.menu-toggle:after {
  right: 0;
  width: 72%;
  top: 1.13em;
}

.menu-toggle.x {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.menu-toggle.x:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-toggle.x:after {
  top: 5px;
  right: unset;
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

  .mobile-menu {
    display: block !important; 
    margin: 1.5rem;
    
  }
  /* .ham-menu {
    width: 78px;
    cursor: pointer;
    margin-right: 19px;
  } */
  .nav-bar {
    display: none;
  }
  .mobile-visible {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    font-size: 2.2rem;
    /* -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s; */
    justify-content: space-around;
    border-radius: 0 !important;
    flex-direction: column;
    z-index: 998;
    user-select: none;
    box-sizing: border-box;
    overflow: hidden;
    padding: 74px !important;

  }
  
  .pHeader {
    max-height: 4rem !important;
    
  }

  .heroText h1 {
    font-size: 3.5rem !important;
  }
  .heroText h3 {
    font-size: 0.9rem !important;
  }
  .myDescription {
    width: 100% !important;
    font-size: 0.9rem !important;
  }
  .heroImg img {
    width: 12.6rem !important;
  }
  .home-skill {
    font-size: 1.6rem !important;
  }

  .home-flex-container .inner-content {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .home-flex-container {
    width: 100% !important;
  }

  

  .row {
    width: 90% !important;
    padding: 0rem 1rem 1rem 1rem !important;
  }

  .col {
    width: 45%;
  }

  .grid-item {
    flex: 1 0 30% !important;
  }
  
  .org-role h2 {
    font-size: 16px !important;
  }
  
  .duration h2 {
    font-size: 16px !important;
  }

  .list-disc {
    font-size: 14px;
   }
  .experience-flex-container .flex-item {
    padding: 1rem 0rem !important;
  }

  .experience-flex-container .inner-content {
    margin: -1rem 4rem !important;
  }

  .experience-flex-container .inner-flex-item {
    padding: 1rem !important;
  }

  .project-flex-container .grid-container {
    width: 90% !important;
  }
  .project-flex-container {
    min-height: 55vh !important;
  }
  .education-flex-container {
    min-height: 100vh !important;
    padding-bottom: 20px;
   }
  
   .map-address-card {
    flex-wrap: wrap;
    
   }
   .map-email {
    margin-top: 1rem !important;
   }
   .map-address-card {
    flex-wrap: wrap;
    
   }
   .map-email {
    margin-top: 1rem !important;
   }  
   /* .contact-flex-container .flex-container {
    flex-wrap: wrap;
   } */
}

/* For screens larger than 1024px */
@media only screen and (min-width: 1024px) and (max-width: 1280px)  {
  
}